@media only screen and (min-device-width: 320px) and (max-device-width: 649px){
    .mySlides {display:none;
        
        width: auto;
        height: auto;
        max-width: 93em;
        margin: 2em 0em;
    }
        

    .container2
    {
        position: relative;
        text-align: center;
        color: white;
        width: auto;
        text-align: center;
    }
    
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-48%, -20%);
      }
    
    
    .middle_font1_setting
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
    }
    
    .middle_font2_setting
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        max-width: 700px;
        left: 90%;
        transform: translate(6%, 5%);
    }
    
    .sign_button
    {
        transform: translate(5%, 50%);
        background-color: rgb(80, 157, 230);
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 30px 120px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        margin: 4px 2px;
        cursor: pointer; 
    }
}

@media only screen and (min-device-width: 650px) and (max-device-width: 850px){
    .mySlides {display:none;
     
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 2em 0em;}

    .container2
    {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -20%);
      }
    
    
    .middle_font1_setting
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
    }
    
    .middle_font2_setting
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        max-width: 700px;
        left: 90%;
        transform: translate(20%, 5%);
    }
    
    .sign_button
    {
        transform: translate(5%, 50%);
        background-color: rgb(80, 157, 230);
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 30px 120px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer; 
    }
}


@media only screen and (min-device-width: 850px) {
    .mySlides {display:none;
    
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 2em 0em;}
        

    .container2
    {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -20%);
      }
    
    
    .middle_font1_setting
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
    }
    
    .middle_font2_setting
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        max-width: 700px;
        left: 90%;
        transform: translate(20%, 5%);
    }
    
    .sign_button
    {
        transform: translate(5%, 50%);
        background-color: rgb(80, 157, 230);
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 30px 120px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer; 
    }
}
